<section class="slide-wrapper">
  <div class="container-fluid no-padding">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>

      <!-- Wrapper for slides -->

      <div class="carousel-inner">
        <div class="carousel-item active">
          <div
            class="fill"
            style="  background-image: url('assets/img/slider1.jpg');"
          >
            <form method="post">
              <p class="titleclass">WATCH AND DOWNLOAD</p>
              <input
                type="text"
                class="textbox"
                placeholder="Enter videos link or title"
                name="videourl"
                [(ngModel)]="this.videoUrl"
              />
              <input
                title="Search"
                value=""
                type="submit"
                (click)="searchVideos()"
                class="button"
              />
              <img
                src="assets/img/loader.gif"
                alt="loader"
                style="display:none;margin: auto;"
                class="loader"
              />
            </form>
          </div>
        </div>
        <div class="carousel-item">
          <div
            class="fill"
            style="background-image: url('assets/img/slider2.jpg');"
          >
            <form method="post">
              <p class="titleclass">START STREAMING NOW</p>
              <input
                type="text"
                class="textbox"
                placeholder="Enter videos link or title"
                name="videourl"
                [(ngModel)]="this.videoUrl"
              />
              <input
                title="Search"
                value=""
                (click)="searchVideos()"
                type="submit"
                class="button"
              />
              <img
                src="assets/img/loader.gif"
                alt="loader"
                style="display:none;margin: auto;"
                class="loader1"
              />
            </form>
          </div>
        </div>
        <div class="carousel-item">
          <div
            class="fill"
            style=" background-image: url('assets/img/slider3.jpg');"
          >
            <form method="post">
              <p class="titleclass">START STREAMING NOW</p>
              <input
                type="text"
                class="textbox"
                placeholder="Enter videos link or title"
                name="videourl"
                [(ngModel)]="this.videoUrl"
              />
              <input
                title="Search"
                value=""
                (click)="searchVideos()"
                type="submit"
                class="button"
              />
              <img
                src="assets/img/loader.gif"
                alt="loader"
                style="display:none;margin: auto;"
                class="loader2"
              />
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="videolist" style="display:none;">
  <div class="container" style="    min-height: auto;padding-bottom: 3%;">
    <div class="row" style="    margin-top: 4%;">
      <div
        class="col-md-4 videodivcls"
        *ngFor="let url of this.videoDetailsArr; let i = index"
        style="margin-bottom:10px;"
      >
        <div
          class="card"
          style="width:10em; text-align: center;margin-bottom: 5%;margin: auto;"
        >
          <img
            class="card-img-top imgcls video-btn"
            title="{{ url.title }}"
            src="{{ url.thumbnailurl }}"
            (click)="playVideo(url.linkurl)"
            alt="Card image cap"
           
          />
          <div class="card-body">
            <a
              type="button"
              class="btn btn-primary"
              (click)="downloadVideo(url.linkurl, i)"
              >Download</a
            >
          </div>
        </div>
        <img
          src="assets/img/loader.gif"
          class="downloaderloader"
          alt="loader"
          id="video{{ i }}"
        />
      </div>
    </div>
  </div>
</section>

<!-- <div class="modal " id="myModal" >
  <div class="modal-dialog">
    <div class="modal-content" style="height: 345px;">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal">
          &times;
        </button>

        <iframe
          width="598"
          height="345"
          [src]="trustedDashboardUrl"
          frameborder="0"
          webkitallowfullscreen
          mozallowfullscreen
          allowfullscreen
        >
        </iframe>
      </div>

    </div>
  </div>
</div> -->


<div class="example-box" cdkDrag>
        <i class="fa fa-close closebtn" (click)="closeFunc()"></i>

        <iframe
         height="250"
         width="490"
          [src]="trustedDashboardUrl"
          frameborder="0"
          webkitallowfullscreen
          mozallowfullscreen
          allowfullscreen
        >
        </iframe>
        <div class="example-handle" cdkDragHandle>
                <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
                  <path d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"></path>
                  <path d="M0 0h24v24H0z" fill="none"></path>
                </svg>
              </div>
      </div>