
<section class="slide-wrapper">
    <div class="container-fluid no-padding">

	    <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>

            <!-- Wrapper for slides -->

            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="fill" style="  background-image: url('assets/img/slider1.jpg');">
                        <form method="post">
                                <p class="titleclass">WATCH AND DOWNLOAD</p>
                                <input type="text" class="textbox" placeholder="Enter videos link or title" name="videourl" [(ngModel)]="this.videoUrl">
                                <input title="Search" value="" type="submit" (click)="searchVideos()" class="button">
                                <img src="assets/img/loader.gif" alt="loader" style="display:none;margin: auto;"  class="loader">

                            </form>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="fill" style="background-image: url('assets/img/slider2.jpg');">
                        <form method="post">
                                <p class="titleclass">START STREAMING NOW</p>
                                <input type="text" class="textbox" placeholder="Enter videos link or title" name="videourl" [(ngModel)]="this.videoUrl">
                                <input title="Search" value="" (click)="searchVideos()" type="submit" class="button">
                                <img src="assets/img/loader.gif" alt="loader" style="display:none;margin: auto;" class="loader1">
                            </form>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="fill" style=" background-image: url('assets/img/slider3.jpg');">
                        <form method="post">
                                <p class="titleclass">START STREAMING NOW</p>
                                <input type="text" class="textbox" placeholder="Enter videos link or title" name="videourl" [(ngModel)]="this.videoUrl">
                                <input title="Search" value="" (click)="searchVideos()" type="submit" class="button">
                                <img src="assets/img/loader.gif" alt="loader" style="display:none;margin: auto;" class="loader2">

                            </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<section id="videolist" style="display:none;">
    <div class="container" style="    min-height: auto;padding-bottom: 3%;">
            <div class="row" style="    margin-top: 4%;">
                    <div class="col-md-4 videodivcls" *ngFor="let url of this.videoDetailsArr" style="margin-bottom:10px;">
                        <div class="card" style="width:10em; text-align: center;margin-bottom: 5%;margin: auto;">
                              <img class="card-img-top imgcls video-btn" title="{{url.title}}" src={{url.thumbnailurl}} (click)="playVideo(url.linkurl)"  alt="Card image cap" data-toggle="modal" data-target="#myModal">
                              <div class="card-body">
                                <a href="#" class="btn btn-primary">Download</a>
                              </div>
                
                            </div>
                        </div>
                   </div>
                   
    </div>

     
    
  </section>


       


  <div class="modal" id="myModal">
        <div class="modal-dialog">
          <div class="modal-content" style="height: 380px;">
          
            <!-- Modal Header -->
            <div class="modal-header gradient">
                <h3>Playing ...</h3>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            
            <!-- Modal body -->
            <div class="modal-body">
                    <iframe width="598" height="345" [src]=trustedDashboardUrl frameborder="0"
                    webkitallowfullscreen mozallowfullscreen allowfullscreen>
                    </iframe>            
            </div>
            
            <!-- Modal footer -->
            
          </div>
        </div>
      </div>
      
        